<h1>本当に退会しますか？</h1>

<a>退会すると、会員登録情報や</a>

<a>これまでの購入履歴が閲覧できなります。</a>

<a>退会する場合は、「退会する」をクリックしてください。</a>

<%= link_to "退会しない" ,customers_my_page_path, class: "btn btn-primary" %>
<%= link_to "退会する", customers_withdraw_path, method: :patch,data: { confirm: '本当に退会しますか？' } %>