<div class="col-md-8 offset-md-1">
<h1 class="text-right"><%= link_to "+", new_admin_item_path %></h1>
<b>商品一覧</b>
<p id="notice"></p>
<table class="table thead-class">

    <tbody>
      <tr class="table-secondary"><th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ステータス</th>

      </tr>

      <% @items.each do |item| %>

      <tr>
      <td><%= item.id %></td>

      <td>
        <%= link_to item.name, admin_item_path(item.id) %>
      </td>

      <td><%= item.price %></td>


      <td>
        <% if item.is_active %>
        <b class="text-success">販売中</b>
        <% else %>
        <b class="text-secondary">販売停止中</b>
        <% end %>
      </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
