<div class="container takasa">
  <h2>注文履歴一覧</h2><br>
	<table class="table table-hover">
	  <tr class="active">
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th></th>
    </tr>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.created_at,admin_order_path(order)  %></td>
      <td><%= order.name %></td>
      <td><%= order.order_items.sum(:quantity) %></td>
    </tr>
    <% end %>
  </table>

</div>